@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --color-main: rgb(238, 153, 168);
  --color-main_2:orange;

  --gap_1: 1rem;
  --gap_2: 2rem;

  --font-main: 'Roboto', sans-serif;

  
}